<header class="jumbotron text-center">
<<marquee> <h1>Welcome to Online Movie TicketSystem </h1></marquee>
</header>
<nav class="col-md-11 mx-auto bg-dark p-2 row">
  <a class="nav-item nav-link text-white" routerLink="/AddScreen">Add Screen</a>
  <a class="nav-item nav-link text-white" routerLink="/viewUscreens">View All screens</a>
  <a class ="nav-item nav-link text-white" routerLink="/updateScreen">Update Screen</a>
 <!-- <a class ="nav-item nav-link text-white" routerLink="/searchscreen"> searchscreen</a>-->
  <a class ="nav-item nav-link text-white" routerLink="/viewTickets">viewTicket</a>
</nav>
<router-outlet></router-outlet>
